.item1 {grid-area: Header;}
.item2 {grid-area: sidemenubar;}
.item3 {grid-area: topmenubar;}
.item4 {grid-area: maingrid;}
.item5 {grid-area: Footer;}
.Subitem4-1 {grid-area: Column1;}
.Subitem4-2 {grid-area: Column2}

.grid-container {
  display: grid;
  grid-template:
  'Header Header Header Header Header'
  'sidemenubar topmenubar topmenubar topmenubar topmenubar'
  'sidemenubar maingrid maingrid maingrid maingrid'
  'Footer Footer Footer Footer Footer';
  grid-gap: 10px;
  padding: 10px;
  border: solid 1px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  border: solid 1px;
}

.item4  {
  display: grid;
  grid-template:
  'Column1 Column1 Column2';
  grid-gap: 5px;
  padding: 5px;
  border: solid 1px;
}

.item1 {
  
}
