body {
 background-image: url("bgg.jpg");
 background-size: 100% 100%;
 background-repeat: no-repeat;
  background-attachment: fixed;
!important; }
#logo{
  opacity: 0.6;
  margin-left: 100px;
  margin-right: 85px;
  color: #A89B8D;
}

#brand{

  color: red;
  margin-left: 220px;
  font-size: 50px;

}
.navbar-nav > li{
  padding-left:20px;
 padding-right:15px;
}

#navbar{
  background-color: #CEC3A0;
  margin-left: 100px;
  margin-right: 85px;
  padding-left: 50px;

}

.navbar-nav > li:hover{
  background-color: #DEDEDE;
}

#navbar2{
  background-color: #CEC3A0;
  margin-left: 100px;
  margin-right: 100px;
    padding-left: 50px;

}



/*submenu css begins*/
#sidemenu{
    width: 50px;
    margin-left: 100px;


}

#sidemenu a {
    background-color: #CEC3A0;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

#sidemenu a:hover {
    background-color: #DEDEDE;
    color: black;
}

#sidemenu a.active {
    background-color: #E47C0C;
    color: white;
}

#submenu-content {
  display: none;
  position: absolute;
  background-color: #CEC3A0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/*submenu css finish*/


/*footer style*/
#footer{
  opacity: 0.5;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background: black;
  padding: 20px 0;
}

#footer ul{
  list-style: none;
  padding-left: 0px;
}
#footer a{
  color: white;
  padding: 0;
  text-decoration: none;
}
#footer a:hover{
  color:red;
}
h4{
  color: white;
}
#footer .social{
  text-align: left;
}


/*news feed style*/
#box{
  height: 50%;
  width: auto;

  float: right;
  margin-right: 10px;

}

#text1{
  text-align: justify;
 text-justify: inter-word;
 background-color: white;
}

#container1{
  margin-top: 10px;
}

#news{
  background-color: red;
}
#para{
  font-size: 30px;
  color: Black;
  background-color: #E47C0C;
}


.holder {
  background-color:#CEC3A0;
  width:300px;
  height:400px;
  overflow:hidden;
  padding:10px;
  font-family:Helvetica;
}
.holder .mask {
  position: relative;
  left: 0px;
  top: 10px;
  width:290px;
  height:400px;
  overflow: hidden;
}
.holder ul {
  list-style:none;
  margin:0;
  padding:0;
  position: relative;
}
.holder ul li {
  padding:10px 0px;
}
.holder ul li a {
  color:darkred;
  text-decoration:none;
}
